@import url('/static/css/base.css');

body {
    font-feature-settings: kern;
    direction: ltr;
    font-synthesis: none;
    background: #efefef;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
hr {
    border-top: 1px solid #efefef;
    margin: 6em;
    margin-top: 4em;
    margin-bottom: 2em;
}

ul {
    list-style: none;
    padding: 0;
}


section {
    background: #fff;
    padding: 5em;
    padding-top: 2em;
    text-align: center;
    margin-top: 1em
}

strong {
    font-weight: bold
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.04167;
    letter-spacing: .006em;
    margin-top: .7em;
    margin-bottom: 1em
}
h2 {
    line-height: 1.2em;
}

h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: #5d5d5d;
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 0.05em;
    word-spacing: 0.5em;
}

h3.assistant::after {
    background: url('/static/images/assistant.png');
    background-size: cover;
    display: block;
    width: 100px;
    height: 100px;
    content: '';
    margin: auto;
}

h3.terra::after {
    background: url('/static/images/terra_.png');
    background-size: cover;
    display: block;
    width: 100px;
    height: 100px;
    content: '';

    margin: auto;
}

h1.title {
    width: 365px;
    margin: auto;
    line-height: 1em;
    text-align: right;
}
h1.title span {
    display: block;
    font-size: 0.5em;
    text-align: right;
}

h2.wow {
    font-size: 3em;
    font-weight: 100;
    text-align: center
}

.header img, .header .title {
    opacity: 0;
    animation-duration: .6s;
    animation-name: intro;
    animation-timing-function: cubic-bezier(0.71,-0.24, 0.18, 0.91);
    animation-fill-mode: forwards;
}
.header .title {
    animation-delay: 300ms
}

.call {
    font-weight: 100;
    font-size: 1.5em;
    margin-top: 1em;
    line-height: 1.3em;
}
.center {
    text-align: center
}
.know {
    display: flex;
    flex-flow: row;
    align-content: space-between;
    margin: auto;
    margin-top: 6em;
    text-align: justify;
    max-width: 1280px;
}
.know .step {
    flex-grow: 1;
    flex-basis: 0;

    margin-right: 3em;
}
.step.middle {
    border-left: 1px solid #dee1e4;
    margin-right: 0;
    padding-left: 3em;
}
.end {
    margin-left: 0;
    margin-right: 0 !important;
}
.badge {
    margin: 5px;
    display: inline-block;
}

.user-request {
    display: inline-block;
    color: #929292;
    letter-spacing: 0.05em;
    font-weight: 300;
    /* font-size: 1em; */
    /* font-size: 0.9em; */
    /* padding: 5px 15px; */
    /* border-radius: 1em; */
    text-align: left;
    margin-bottom: 1em;
    quotes: "“" "”" "‘" "’";
}

.user-request:before {
    content: open-quote;
    font-size: 2em;
    color: #a5a5a5;
    font-family: serif;
    margin-right: 0.2em;
    display: inline-block;
    transform: translateY(0.2em);
}
.user-request:after {
    content: close-quote;
    font-size: 2em;
    color: #a5a5a5;
    font-family: serif;
    margin-left: 0.2em;
    display: inline-block;
    transform: translateY(0.2em);
}

section.even {
    background: #fbfbfb;
}
.conversation {
    display: flex;
    max-width: 1280px;
    margin: auto;
}
.conversation>div {
    flex-grow: 1;
    flex-basis: 0;
}

#phone {
    margin-left: 0;
}

.phone {
    width: 300px;
    height: 700px;
    background-image: url('/static/images/iphone.png');
    background-position: bottom, left -120px;
    background-size: cover;
    position: relative;
    margin: auto;
}

.phone.angle {
    background-image: url('/static/images/mi-angle-2.png');
    perspective(1250);
    width: 800px;
    height: 370px;
    z-index: 10;
}

img.angle {
    transform: translateX(-20px) translateY(-818px) rotateY(8deg) rotateX(73deg) rotateZ(40deg);
}
.redmi {
    /* transform: translateY(100px); */
    background-image: url('/static/images/redmi.png');
    display: block;
    width: 300px;
    height: 550px;
    margin: auto;
}
.redmi video {
    width: 235px;
    height: 417px;
    transform: translate(2px, 60px);
}
.redmi img {
    /* transform: translate(400px, -200px) */

}
.preview {
    display: block;
    max-width: 250px;
}

.screen {
    font-size: 0.9em;
    position: relative;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #eaeaea;
    padding: 0px 0px 10px 0px
}
.side {
    flex-grow: 2 !important;
    margin-left: 3em;
}
.phone .screen {
    border: none;
    top: 95px;
    height: 410px;
    width: 264px;
    left: 16px;
}

.dialog {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 1em;
    margin-left: 10px;
    margin-right: 10px;
}
.dialog-bot .icon {
    background-image: url('/static/images/terra.png');
    background-size: cover;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
    margin-right: 0.4em;
}
.dialog-user {
    text-align: right;
    flex-direction: row-reverse;
}

.dialog-user .bubble {
    background: #e0e0e0
}
.dialog .bubble {
    max-width: 195px;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 1em;
    display: inline-block;
    vertical-align: middle
}


.sec-2 {
    animation-delay: 1.5s;
    transform: translateY(600px);
    opacity: 0;
}
.sec-1 {
    animation-delay: .5s;
    opacity: 0;
}
.visible .sec-1, .visible .sec-2 {
    animation-duration: .6s;
    animation-name: slidein;
    animation-timing-function: cubic-bezier(0.21, 1.03, 0.82, 0.98);
    animation-fill-mode: forwards;
}

footer {
    /* background: #8f9399; */
    background: #d7d7d7;
    color: #444;
    padding: 3em 1em 6em;

}

footer a {
    color: #444;
}

footer a:hover {
    text-decoration: none;
    color: #222
}

footer ul.menu {
    margin: auto;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    columns: 3;
    max-width: 800px;
}

footer ul.menu li {
    padding: 0.3em;
}
footer ul.menu li.divider {
    background: #fff;
}

@keyframes intro {
    from {
        transform: translateY(70px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        transform: translateY(300px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media(max-width:736px) {
    .text {
        text-align: justify
    }
    section {
        padding: 1em;
        padding-bottom: 3em
    }
    h1 {
        font-size: 2.3em
    }
    h1.title {
        width: 280px;
    }
    footer {
        margin-top: 1em
    }

    #mi-angle {
        width: 600px;
        height: 279px;
    }
}

@media(max-width:415px) {
    section {
        padding: 1em;
        padding-bottom: 2.5em
    }
    #conversation {
        flex-direction: column-reverse;
    }
    h2.wow {
        font-size: 1.6em;
        font-weight: 300;
    }
    #mi-angle {
        width: 380px;
        height: 176px;
    }
    .step {
        margin-right: 0 !important
    }
    .middle {
        margin: 0em;
        margin-top: 2em
    }
    .end {
        margin-left: 0
    }
    footer ul.menu {
        columns: 2;
    }
    .know {
        flex-flow: column;
    }

}
@media(max-width:375px) {
    #mi-angle {
        width: 320px;
        height: 148px;
    }
}
@media(max-width:360px) {
    #mi-angle {
        width: 250px;
        height: 116px;
    }
}
