@import url('/static/css/base.css');

body {
    font-feature-settings: kern;
    direction: ltr;
    font-synthesis: none;
    background: #efefef;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
hr {
    border-top: 1px solid #efefef;
    margin: 6em;
    margin-top: 4em;
    margin-bottom: 2em;
}

ul {
    list-style: none;
    padding: 0;
}


section {
    background: #fff;
    padding: 5em;
    padding-top: 2em;
    text-align: center;
    margin-top: 1em
}

strong {
    font-weight: bold
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.04167;
    letter-spacing: .006em;
    margin-top: .7em;
    margin-bottom: 1em
}
h1.title {
    width: 365px;
    margin: auto;
    line-height: 1em;
    text-align: right;
}
h1.title span {
    display: block;
    font-size: 0.5em;
    text-align: right;
}

h2.wow {
    font-size: 3em;
    font-weight: 100;
    text-align: center
}

.header img, .header .title {
    opacity: 0;
    animation-duration: .6s;
    animation-name: intro;
    animation-timing-function: cubic-bezier(0.71,-0.24, 0.18, 0.91);
    animation-fill-mode: forwards;
}
.header .title {
    animation-delay: 300ms
}

.call {
    font-weight: 100;
    font-size: 1.5em;
}

#conversation {
    display: flex;
    background: #fbfbfb
}
#conversation>div {
    flex-grow: 1;
}
.conversation>div.side {
    flex-grow: 3;
} 
#phone {
    width: 300px;
    height: 700px;
    background-image: url('/static/images/iphone.png');
    background-position: bottom, left -120px;
    background-size: cover;
    position: relative;
    margin: auto;
}

.preview {
    display: block;
    max-width: 250px;
}

.screen {
    font-size: 0.9em;
    position: relative;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 0px 0px 10px 0px
}

#phone .screen {
    border: none;
    top: 95px;
    height: 410px;
    width: 264px;
    left: 16px;
}

.dialog {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 1em;
    margin-left: 10px;
    margin-right: 10px;
}
.dialog-bot .icon {
    background-image: url('/static/images/terra.png');
    background-size: cover;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
    margin-right: 0.4em;
}
.dialog-user {
    text-align: right;
    flex-direction: row-reverse;
}

.dialog-user .bubble {
    background: #e0e0e0
}
.dialog .bubble {
    max-width: 195px;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 1em;
    display: inline-block;
    vertical-align: middle
}


.sec-2 {
    animation-delay: 1.5s;
    transform: translateY(600px);
    opacity: 0;
}
.sec-1 {
    animation-delay: .5s;
    opacity: 0;
}
.animated .sec-1, .animated .sec-2 {
    animation-duration: .6s;
    animation-name: slidein;
    animation-timing-function: cubic-bezier(0.21, 1.03, 0.82, 0.98);
    animation-fill-mode: forwards;
}

footer {
    background: #a3a5a9
}

footer ul.menu {
    border: 1px solid;
    margin: auto;
}

footer ul.menu li {
    background: #fff;
}
footer ul.menu li.divider {
    background: #fff;
}

@keyframes intro {
    from {
        transform: translateY(70px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        transform: translateY(300px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media(max-width:736px) {
    .text {
        text-align: justify
    }
    section {
        padding: 1em;
        padding-bottom: 3em
    }
    h1 {
        font-size: 2.3em
    }
    h1.title {
        width: 280px;
    }
    footer {
        margin-top: 1em
    }

    #mi-angle {
        width: 600px;
        height: 279px;
    }
}

@media(max-width:415px) {
    section {
        padding: 1em;
        padding-bottom: 2.5em
    }
    #conversation {
        flex-direction: column-reverse
    }
    h2.wow {
        font-size: 1.6em;
        font-weight: 300;
    }
    #mi-angle {
        width: 380px;
        height: 176px;
    }
}
@media(max-width:375px) {
    #mi-angle {
        width: 320px;
        height: 148px;
    }
}
@media(max-width:360px) {
    #mi-angle {
        width: 250px;
        height: 116px;
    }
}
